# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
/target
/backend/target

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Env
.env

# Flake vm
result
nixos.qcow2
